[Unit]
Description=Google Drive Mounting with google-drive-ocamlfuse
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
User=test
RemainAfterExit=yes
ExecStart=/usr/bin/google-drive-ocamlfuse /home/test/gdrive


[Install]
WantedBy=multi-user.target
